@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  min-height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.box {
  flex: 1;
  padding: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 3px rgba(11, 11, 11, 0.2);
  border: 2px solid #e8e9e4;
  border-radius: 8px;
  margin: 20px;
  overflow-y: auto;
  text-align: center; /* Căn giữa văn bản trong .box */
}

.box h1 {
  font-size: 60px;
}

span {
  color: rgb(44, 141, 206);
}

.box .element {
  text-align: center;
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.box input {
  background-color: #ebe9e9;
  border: 0.7px solid #ddd;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 4px;
}

.favorites-container {
  width: 20%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 1px 1px 3px 3px rgba(11, 11, 11, 0.2);
  border-radius: 10px;
  max-height: calc(80vh - 20px);
  overflow-y: auto;
  position: fixed;
  left: 10px;
}

.toggle-favorites-button {
  cursor: pointer;
  font-size: 16px;
  background-color: #ddd;
  border: none;
  padding: 5px;
}

.favorites-container.hidden {
  right: -200px;
}

.settings-button {
  background-color: rgba(39, 174, 95, 0.042);
  color: #cf4f4f;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.settings-button svg {
  margin-right: 5px;
}
