@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.box {
  padding: 15px;
  width: 80%;
  max-width: 500px;
  height: 600px;
  background-color: #fff;
  margin: 70px auto;
  box-shadow: 1px 1px 3px 3px rgba(11, 11, 11, 0.2);
  border: 2px solid #e8e9e4; /* Thêm border và thiết lập màu sắc */
  border-radius: 8px; /* Làm cho góc tròn */
}

.box h1 {
  font-size: 20px;
}

span {
  color: rgb(44, 141, 206);
}

.box .element {
  text-align: center;
  margin-top: 10px;
  border: 1px solid #ddd; /* Thêm border cho element */
  padding: 10px; /* Thêm padding để tạo khoảng cách nội dung và border */
  border-radius: 4px;
}

.box input {
  background-color: #ebe9e9;
  border: 0.7px solid #ddd;
  width: 100%;
  padding: 15px;
  margin-top: 10px; /* Thêm margin để tạo khoảng cách với phần trên */
  border: 1px solid #ddd; /* Thêm border cho input */
  border-radius: 4px; /* Làm cho góc tròn */
}
/* Thêm các quy tắc CSS mới cho phần thẻ yêu thích */
.favorites-container {
  position: fixed;
  top: 70px;
  left: 870px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 1px 1px 3px 3px rgba(11, 11, 11, 0.2);
  transition: left 0.3s ease;
  border-radius: 10px; /* Thêm transition để làm cho hiệu ứng chuyển động mềm mại hơn */
}

/* Thêm một chút style cho nút mở đóng thẻ yêu thích */
.toggle-favorites-button {
  cursor: pointer;
  font-size: 16px;
  background-color: #ddd;
  border: none;
  padding: 5px;
}
.favorites-container.hidden {
  left: -200px; /* Đặt giá trị left là một số âm để ẩn nó khỏi màn hình */
}


