General styling for the app container
.app {
  background-color: #99d9f5;
  color: #1a77d5;
  background-image: url('path/to/background-image.jpg');
  background-size: cover;
}


.search input {
  padding: 10px;
  background-image: url('path/to/background-image.jpg');
  font-size: 60px;
  width: 10px;
}

.search input {
  margin: 0 auto;
  font-size: 60px;
  color: #1a77d5;
  width: 82%;
  border: 1px solid #59abc0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px; 
}

.container {
  background-image: url('path/to/background-image.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.weather-details {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.weather-details div {
  text-align: center;
}

.hourly-forecast {
  background-color: #5ab6de;
  border: 1px solid #ddd;
  background-image: url('path/to/background-image.jpg');
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  overflow: hidden;
  
}

.hourly-forecast h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #1c5094;
}

.hourly-container {
  display: flex;
  overflow-x: auto;
  width: 300px;
}

.hourly-item {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  text-align: center;
  min-width: 50px; 
}

.time {
  font-weight: bold;
  font-size: 1rem;
  color: #632288;
}

.temperature {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
}

.weather-condition {
  font-size: 0.8rem;
  color: #285a87;
}

.humidity {
  font-size: 0.8rem;
  color: #28a745;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-top: auto; 
}

.weekly-forecast {
  margin-top: 1px;
  background-image: url('path/to/background-image.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #285a87;
}

.weekly-container {
  color: #285a87;
  display: flex;
  background-image: url('path/to/background-image.jpg');
  overflow-x: auto;
}

.daily-forecast {
  margin-right: 3px;
  padding: -100px;
  border: 1px solid #47a9ee;
  border-radius: 1px;
}

.weather-icon {
  margin-bottom: 15px;
}

.temperature {
  font-weight: bold;
}

.bottom {
  display: flex;
  flex-direction: column; 
}

.detail-box {
  margin-bottom: 12px; 
}

.small-text {
  font-size: 21px;
  display: block; 
}


.top {
  text-align: center;
  margin-bottom: 20px;
}

.location h1 {
  
  font-size: 42px; 
  color: #1c5094; 
  margin: 0;
}

.temp h1 {
  font-size: 36px;
  margin: 10px 0;
}

.description h1 {
  font-size: 24px; 
  color: #6c757d; 
  margin: 0;
}

.bottom {
  flex: 0 0 auto;
  margin-top: 20px; 
  display: flex;
  justify-content: space-around; 
  background-image: url('path/to/background-image.jpg');
  background-size: cover; 
  padding: 50px; 
  box-sizing: border-box;
  border-radius: 10px; 
}


.detail-box {
  color: #285a87;

  background-image: url('path/to/background-image.jpg');
  padding: 10px;
}

.small-text {
  font-size: 15px;
}